
body {
    margin: 0;
    padding: 0;
    background: #aaaaaa;
    font-family: sans;
}

div#Header {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    background: url(/header-grad.png) repeat-x left bottom;
    background-color: #dddddd;
    overflow: auto;
    min-height: 150px;
}

div#Shadow {
    display: block;
    width: 100%;
    height: 25px;
    background: url(/shadow.png) repeat-x;
}

img {
    border: 0;
}

h1 {
    float: left;
    background: url(/media-cdrom.png) no-repeat;
    margin: 0;
    margin-left: 20px;
    padding-left: 140px;
    line-height: 100px;
    height: 128px;
}

h2 {
    margin: 0;
    padding: 0;
    padding-left: 2em;
}

form#LoginForm {
    float: right;
    margin: 0 auto;
    height: 100%;
    padding-right: 40px;
}

form#LoginForm legend {
    font-size: 1.2em;
}

form#LoginForm fieldset, form#Login ol, div#BrowseMenu ul, div#BrowseMenu li {
    border: 0;
    margin: 0;
    padding: 0;
}

form#LoginForm li {
    width: 300px;
    overflow: auto;
    position: relative;
    margin: .4em 1em;
}

form#LoginForm label {
    float: left;
    line-height: 1.5em;
}

input {
    background: #ffffff;
    border: 1px solid #aaaaaa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: .2em 0em;
}

input:hover {
    background: #444488;
    color: #ffffff;
}

input:focus {
    background: #ffffff;
    color: #000000;
}

form#LoginForm input:active {
    background: #444488;
    color: #dddddd;
}

form#LoginForm input {
    float: right;
}

form#LoginForm input#LoginButton {
    float: left;
}

li#SubmitButtons input {
    width: 45%;
}

div#UserStatus {
    text-align: right;
    float: right;
    margin-right: 40px;
    font-size: 1.2em;
}

div#UserStatus ul, div#BrowseMenu ul {
    list-style: none;
}

.UserProfile, .UserProfile a {
    font-weight: bold;
    color: #4444ff;
}

.UserProfile a:hover {
    color: #ffffff;
}

div#BrowseMenu {
    float: left;
    font-size: 1.2em;
    margin: 1em;
    margin-left: 50px;
}

div#Container2, div#Sidebar, div#Content {
    min-height: 200px;
    width: auto;
    margin: .5em;
    overflow: auto;
}

div#Container2 {
    display: table;
    border-spacing: 1em;
}

div#Container {
    width: 100%;
}

div#Sidebar, div#Content, div#FlashMessage div {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #dddddd;
}

div#FlashMessage {
    width: 100%;
}

div#FlashMessage div {
    display: block;
    margin: 1em 1em 0;
    padding: 1em;
    font-size: 1.5em;
}

div#FlashMessage span {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 52px;
    background-repeat: no-repeat;
}

div#FlashMessage.info span {
    background-image: url(/info.png);
}

div#FlashMessage.info div {
    background-color: #ddddff;
}

div#FlashMessage.error span {
    background-image: url(/error.png);
}

div#FlashMessage.error div {
    background-color: #ffdddd;
}

div#FlashMessage.warning span {
    background-image: url(/warning.png);
}

div#FlashMessage.warning div {
    background-color: #ffdddd;
}

div#Sidebar, div#Content {
    display: table-cell;
    padding: 1em;
}

div#Sidebar {
    width: 25%;
}

ul.RootTree li.Folder, ul.RootTree li.FolderOpen {
    background: url(/folder.png) no-repeat;
    padding-left: 20px;
}

ul.RootTree li.FolderOpen {
    background-image: url(/folder-open.png);
}

ul.SubFolder, ul.RootTree {
    font-family: monospace;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.RootTree, table.FileGrid {
    width: 100%;
}

ul.RootTree li {
    margin: .5em;
}

.GridName {
    text-align: left;
}

.GridType, .GridSize {
    text-align: right;
}

td.GridName a {
    font-family: monospace;
    padding: 2px 4px 2px 24px;
    background-repeat: no-repeat;
    background-position: 2px 50%;
}

td.GridName a.folder {
    background-image: url(/folder.png);
}

td.GridName a.file {
    background-image: url(/file.png);
}

td.GridName a.music {
    background-image: url(/music.png);
}

td.GridName a.image {
    background-image: url(/image.png);
}

td.GridName a.up {
    background-image: url(/up.png);
}

a:link, a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    background: #444488;
    color: #ffffff;
}

a:active {
    color: #dddddd;
}