{% extends "base.jinja" %}
{% block sidebar %}
  <ul class="RootTree">
  {% for dirname, dir, items in c.dir_items recursive %}
    <li class="Folder"><a href="/browse/directory/{{ dir }}">
      {% if dir == c.path %}
        <strong>{{ dirname }}</strong>
      {% else %}
        {{ dirname }}
      {% endif %}
    </a>
    {% if items %}  <ul class="SubFolder"> {{ loop(items) }} </ul> {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endblock %}