{% extends "base.jinja" %}
{% block sidebar %}
  <h2>Browse by Directory</h2>
  <br />
  <ul class="RootTree">
  {% for node, children in c.directories recursive %}
    <li class="Folder{{ "Open" if node.webpath == c.path else "" }}"><a href="/browse/directory/{{ node.webpath }}"> {{ node.name }} </a>
    {%- if children %}
      <ul class="SubFolder">
        {{ loop(children) }}
      </ul>
    {% endif -%}
    </li>
  {% endfor %}
  </ul>
{% endblock %}